
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/images/Lighter.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Guster</p>
                <a href="#"><i class="fa fa-circle text-success"></i> online</a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="/RTCMgmt/RTCMgmt">
                    <i class="fa fa-user"></i><span>RTC Management</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/RTCMgmt/RTCMgmt"><i class="fa fa-circle-o"></i> Work Item</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
