
@{
    ViewBag.Title = "RTCMgmtApi";
}

<section class="content-header">
    <h1>
        RTC Web Api
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">RTC Web Api</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">RTC Work Item</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body admin-content" >
                    <button class="btn btn-primary" id="angularJsGetFunctionBtn">Angular Get Function</button>
                </div>
                <div class="box-body admin-content">
                    <button class="btn btn-primary" id="angularJsPostFunctionBtn">Angular Post Function</button>
                </div>
                <div class="box-body admin-content">
                    <button class="btn btn-primary" id="jqueryGetFunctionBtn">Jquery Get Function</button>
                </div>
                <div class="box-body admin-content">
                    <button class="btn btn-primary" id="jqueryGetFunctionBtnWithParameter">Jquery Get Function With Parameter</button>
                </div>
                <div class="box-body admin-content">
                    <button class="btn btn-primary" id="jqueryPostFunctionBtn">Jquery Post Function</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/rtcmgmt/RTCMgmtApiController.js"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            bindRTCMgmtApiPageEvent();
        });

    </script>
}
